.footnoteBlock {
  background-color: lightyellow;
  box-sizing: border-box;
  padding: 3px;
  color: #222;
  /* font-family: Arial, Helvetica, sans-serif; */
  border: 2px solid white;
}

.footnoteBlock .metaBar {
  font-size: 9px;
  color: gray;
  font-family: monaco, monospace, "Courier New", Courier;
  padding: 2px;
  border-bottom: 1px solid #efefef;
}

.footnoteBlock .contentArea[contenteditable] {
  outline: none;
}

.footnoteBlock .embedCode {
  width: 100%;
  font-size: 12px;
  font-family: monaco, monospace, "Courier New", Courier;
  border: #555;
  background-color: #efefef;
  color: #222;
}

.footnotebBlock .embedPreview {
  border: none;
}
