.footnoteBlock {
  /* background-color: lightyellow; */
  box-sizing: border-box;
  padding: 1em;

  color: #222;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* border: 1px solid gray; */

  box-shadow: 0px 0px 10px #ddd;
  border-radius: 3px;
  margin-top: 10px;
}

.textInput,
.barLabel,
textarea {
  /* font-size: 9px; */
  color: gray;
  font-family: monaco, monospace, 'Courier New', Courier;
  font-weight: bold;
}
.barLabel {
  padding-bottom: 12px;
}

.textInput {
  padding: 0 1em;
  margin: 0 1em;
  border: 1px solid gray;
}

.footnoteBlock .contentArea[contenteditable] {
  outline: none;
}

.footnoteBlock .embedCode {
  /* width: 100%; */
  font-size: 12px;
  font-family: monaco, monospace, 'Courier New', Courier;
  border: 1px solid gray;
  background-color: #efefef;
  resize: vertical;
  color: #222;
  padding: 1 1em;
  box-sizing: border-box;
  width: calc(100% - 2em);
  margin-left: 1em;
}

.embedPreview {
  border: 1px dashed gray;
  padding: 1em;
  margin: 1em;
}

.embedCodeLabel {
  text-transform: none;
}

.idField {
  text-align: right;
}
